body {
  background: #ffbf60;
}

.container {
  display: grid;
  place-items: center;
  margin-top: 4rem;
}

.ui-window {
  --width: 1024px;
  --height: 768px;
  --bgcolor: #212226;
  --font-sans: Jost, sans-serif;
  --column-size: 75px;
  --row-size: 75px;
  --emphasis-color: #444;

  width: var(--width);
  min-height: var(--height);
  background: var(--bgcolor);
  border-radius: 1rem;
  overflow: hidden;

  & header {
    --header-height: 100px;

    display: flex;
    min-height: var(--header-height);

    & > div {
      width: 100%;
      height: var(--header-height);

      &.empty {
        width: 20%;
      }
    }
  }
}

.ui-window > header {
  padding: 1rem;

  & .title {
    display: flex;
    justify-content: center;
    align-items: center;

    & .subtitle {
      font-family: var(--font-sans);
      font-size: 1rem;
      font-weight: bold;
      color: var(--emphasis-color);
    }

    & .title-group {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      & .square {
        --size: 48px;

        background: var(--emphasis-color);
        border-radius: 0.5rem;
        width: var(--size);
        height: var(--size);
        display: grid;
        place-items: center;

        & svg {
          width: calc(var(--size) - 6px);
          height: calc(var(--size) - 6px);
          fill: #fff;
        }
      }

      & h1 {
        font-family: var(--font-sans);
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
        margin: 0;
      }
    }

  }

  & .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    & .button {
      font-family: var(--font-sans);
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      border: 2px solid #999;
      border-radius: 0.35rem;
      padding: 0.25rem 1rem;

      &.filled {
        border-color: transparent;
        background: var(--emphasis-color);
      }

      &:hover {
        background: #999;
        color: #222;
      }
    }

    & .avatar {
      margin-left: 1rem;
      margin-right: 1rem;

      & img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }
  }
}
